<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hebeu.mapper.TuzhileibieMapper">

    <select id="getLeibie" parameterType="long" resultType="Tuzhileibie">
        select * from tuzhileibie where leibie_id=#{leibieId}
    </select>

    <select id="findAllTuzhiLeibies" resultType="Tuzhileibie">
        select * from tuzhileibie
    </select>

    <insert id="addTuzhiLeibie" parameterType="string">
        insert into tuzhileibie values (null, #{leibieName})
    </insert>
</mapper>
